/* google fonts cdn */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "EB Garamond", serif;
}

.button-color {
  background-color: #b68c5a;
}

.slider-height {
  height: 550px;
}

.legal-bg:hover {
  background-color: rgb(245, 245, 245);
  transition: 0.5s;
}

.section-margin {
  margin-bottom: 100px;
}
.section-title {
  width: 500px;
}

.accordion-bg {
  background-color: rgb(238, 238, 238);
}

.button-acc {
  outline: none;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: start;
  font-size: 24px;
  color: #414040;
  font-weight: bolder;
}

@media only screen and (max-width: 768px) {
  .section-margin {
    margin-bottom: 50px;
  }
  .section-title {
    width: 100%;
  }
}
